*{margin:0;padding:0;}
img{border:0;}
a{color:inherit;text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
ul,li{list-style:none;}
body{font-family:'Microsoft Yahei';font-size:14px;color:#666;}

.container{width:1200px;margin:0 auto;}